button {
	margin: 0px;
}
.alert-danger {
	color: red;
}
.globalcont {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}